@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @Model.ErrorMessage
    </div>
}
